<!DOCTYPE html>
<html lang="en">
<head>
    <title>BrainyDude Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/platform.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="./static/css/dashboard_style.css"/>

    <style>
    .fade_img
    {
        border-radius: 25px;
        opacity: 1;
        height: auto;
        margin: auto;
        position:relative;

    }

    .middle
    {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .fade_img:hover .quiz_pref_img
    {
        opacity: 0.6;
    }

    .fade_img:hover .middle
    {
        opacity: 1;
    }

    .text
    {
        background-color: #003333;
        color: white;
        border-radius: 25px;
        font-size: 16px;
        padding: 16px 32px;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    }

    </style>
    <script>
        function openNav()
        {
            document.getElementById("mySidebar").style.width = "320px";
            document.getElementById("main").style.marginLeft = "320px";
        }

        function closeNav()
        {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft= "0";
        }

        function openTab(cityName,elmnt,color)
        {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++)
            {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++)
            {
                tablinks[i].style.backgroundColor = "";
            }
            document.getElementById(cityName).style.display = "block";
            elmnt.style.backgroundColor = color;
        }

        function signOut()
        {
            window.history.back();
        }

        function submitDemoForm()
        {
            //document.getElementById("idToken").value = '{{id_token}}';
            document.getElementById("tokenDemoForm").action = "/quiz_rules";

            if('{{demo_quiz_exists}}' == 'True')
            {
                document.getElementById("tokenDemoForm").action = "/already_attempted";
            }
            document.getElementById("tokenDemoForm").submit();
        }

        function submitSportsForm()
        {
            //document.tokenSportsForm.submit();
            document.getElementById("tokenSportsForm").submit();
        }

        function submitSportsStatsForm()
        {
            document.getElementById("tokenSportsStatsForm").submit();
        }

        function submitGKForm()
        {
            document.getElementById("tokenGKForm").submit();
        }

        function submitGKStatsForm()
        {
            document.getElementById("tokenGKStatsForm").submit();
        }

        function submitTechForm()
        {
            document.getElementById("tokenTechForm").submit();
        }

        function submitTechStatsForm()
        {
            document.getElementById("tokenTechStatsForm").submit();
        }
    </script>
</head>

<body>
    <div id="mySidebar" class="sidebar" style="box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
                style="text-shadow: 2px 2px rgba(0, 0, 0, 0.8);">
            <b>×</b>
        </a>
        <br><br><br>
        <center>
            <a href="javascript:;" style="text-shadow: 2px 2px rgba(0, 0, 0, 0.8);">
                <span class="glyphicon glyphicon-user"></span>&nbsp;YOUR PROFILE<br><hr width="90%">
            </a>

            <a href="javascript:;">
                <img src="{{id_info.picture}}" style="box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);">
            </a><br>

            <a href="javascript:;" style="text-shadow: 2px 2px rgba(0, 0, 0, 0.8);">
                {{id_info.name}}
            </a>
            <a href="javascript:;" style="text-shadow: 2px 2px rgba(0, 0, 0, 0.8);">
                {{id_info.email}}
            </a><br><br><br><br><br>
            <a href="javascript:;" onclick="signOut()" style="text-shadow: 2px 2px rgba(0, 0, 0, 0.8);">
                <span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Sign Out
            </a>
        </center>
    </div>

    <div id="main">
        <button class="openbtn" onclick="openNav()" style="box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);">
            <b>☰ My Account</b>
        </button>
        <h2></h2><p></p>

        <div id="get_started" class="tabcontent" style="box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);">
            <h1><b>Become a</b></h1>
            <img id="logo" src="/static/images/brainydude_logo.png"/>
            <p style="font-size: 20px;">A platform where the users can take
                online adaptive tests in any field.</p>

            <b>
                <p style="font-size: 20px;">So, go ahead and wrack your
                brains right now!</p>
            </b>
        </div>

        <div id="our_team" class="tabcontent" style="box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);">
            <div class="our_team_row">
                <br>
                <div class="our_team_column">
                    <img src="/static/images/team_member_sujata.jpg" class="our_team_img"
                            style="box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);"><br><br>
                    <b><p style="font-size: 25px;"> Sujata Dev </p></b>
                </div>
                <div class="our_team_column">
                    <img src="/static/images/team_member_tanima.jpg" class="our_team_img"
                            style="box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);"><br><br>
                    <b><p style="font-size: 25px;"> Tanima Tiwari </p></b>
                </div>
                <div class="our_team_column">
                    <img src="/static/images/team_member_tanusha.jpg" class="our_team_img"
                            style="box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);"><br><br>
                    <b><p style="font-size: 25px;"> Tanusha Jain </p></b>
                </div>
            </div>
        </div>

        <div id="contact_us" class="tabcontent" style="box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);">
            <br><br><br>
            <b><h1>Questions? Comments?</h1></b><br>
            <h3>We are all ears.</h3><br><br>
            <b>
                <p style="font-size: 25px;"> Mail it to us on
                    <a href="mailto:brainydude2019@gmail.com">
                        brainydude2019@gmail.com </a></p>
            </b>
        </div>

        <b>
            <button class="tablink" onclick="openTab('get_started', this, '#181818')" id="defaultOpen"
                    style="color: white; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8); text-shadow: 2px 2px rgba(0, 0, 0, 0.8);">
                Get Started
            </button>

            <button class="tablink" onclick="openTab('our_team', this, '#181818')"
                    style="color: white; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8); text-shadow: 2px 2px rgba(0, 0, 0, 0.8);">
                Our Team
            </button>

            <button class="tablink" onclick="openTab('contact_us', this, '#181818')"
                    style="color: white; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);text-shadow: 2px 2px rgba(0, 0, 0, 0.8);">
                Contact Us
            </button>
        </b>

        <script>
            document.getElementById("defaultOpen").click();
        </script>

        <br><br><br><hr><br><br>

        <center><h1><b>Choose your preference for quiz </b></h1></center><br><br>

        <div class="quiz_pref_row">
            <div class="quiz_pref_column">
                <div class="quiz_pref_card">
                    <form action="/quiz_rules" method="post" name="tokenTechForm" id="tokenTechForm">
                        <input type="hidden" id="idToken" name="idToken" value="{{id_token}}">
                        <input type="hidden" id="topic" name="topic" value="Technology">
                    </form>

                    <form action="/statistics" method="post" name="tokenTechStatsForm" id="tokenTechStatsForm">
                        <input type="hidden" id="idToken" name="idToken" value="{{id_token}}">
                        <input type="hidden" id="topic" name="topic" value="Technology">
                    </form>

                    <div class="fade_img">
                        <img class="quiz_pref_img" src="/static/images/preference_technology.png"
                                style="box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);">

                        <div class="middle">
                            <a href="javascript:;" onclick="submitTechForm()">
                                <div class="text"><b>Take a Quiz</b></div>
                            </a><br><br><br>

                            <a href="javascript:;" onclick="submitTechStatsForm()">
                                <div class="text"><b>See result stats</b></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="quiz_pref_column">
                <div class="quiz_pref_card">
                    <form action="/quiz_rules" method="post" name="tokenGKForm" id="tokenGKForm">
                        <input type="hidden" id="idToken" name="idToken" value="{{id_token}}">
                        <input type="hidden" id="topic" name="topic" value="GK">
                    </form>

                    <form action="/statistics" method="post" name="tokenGKStatsForm" id="tokenGKStatsForm">
                        <input type="hidden" id="idToken" name="idToken" value="{{id_token}}">
                        <input type="hidden" id="topic" name="topic" value="GK">
                    </form>

                    <div class="fade_img">
                        <img class="quiz_pref_img" src="/static/images/preference_gk.png"
                                style="box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);">

                        <div class="middle">
                            <a href="javascript:;" onclick="submitGKForm()">
                                <div class="text"><b>Take a Quiz</b></div>
                            </a><br><br><br>

                            <a href="javascript:;" onclick="submitGKStatsForm()">
                                <div class="text"><b>See result stats</b></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="quiz_pref_column">
                <div class="quiz_pref_card">
                    <form action="/quiz_rules" method="post" name="tokenSportsForm" id="tokenSportsForm">
                        <input type="hidden" id="idToken" name="idToken" value="{{id_token}}">
                        <input type="hidden" id="topic" name="topic" value="Sports">
                    </form>

                    <form action="/statistics" method="post" name="tokenSportsStatsForm" id="tokenSportsStatsForm">
                        <input type="hidden" id="idToken" name="idToken" value="{{id_token}}">
                        <input type="hidden" id="topic" name="topic" value="Sports">
                    </form>

                    <div class="fade_img">
                        <img class="quiz_pref_img" src="/static/images/preference_sports.png"
                                style="box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);">

                        <div class="middle">
                            <a href="javascript:;" onclick="submitSportsForm()">
                                <div class="text"><b>Take a Quiz</b></div>
                            </a><br><br><br>

                            <a href="javascript:;" onclick="submitSportsStatsForm()">
                                <div class="text"><b>See result stats</b></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <br><br><br>
    <center><b>
        <form method="post" name="tokenDemoForm" id="tokenDemoForm">
            <input type="hidden" id="idToken" name="idToken" value="{{id_token}}">
            <input type="hidden" id="topic" name="topic" value="Miscellaneous">

            <button class="demo_quiz_link" onclick="submitDemoForm()"
                    style="box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);text-shadow: 2px 2px rgba(0, 0, 0, 0.8);">
                Need to practice? Take a demo quiz ⟶
            </button>
        </form>
    </b></center>
    </div>
</body>
</html>
