<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <center>
        <br><br>
        <h1>Error!</h1>
        <br>
        <h3>If you are seeing this page, <b>SOMETHING WENT WRONG</b>.</h3><br>
        <h3>
            Click
            <a href="{{url_for('index')}}"><b><u>here</u></b></a>
            to go the main page
        </h3>
    </center>
</body>
</html>
