<html>
<head>
    <title>Quiz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <link rel="stylesheet" type="text/css" href="./static/css/mcq_quiz_page_style.css"/>

    <script>
        function palletColour()
        {
            question_no = '{{question_no}}';
            for(var i = 1; i < question_no; i++)
            {
                id = i.toString();
                document.getElementById(id).className = 'btn btn-success btn-sm';
            }

            document.getElementById(question_no.toString()).className = 'btn btn-current btn-sm';
        }
        function clearResponse()
        {
            document.getElementById("optradioa").checked = false;
            document.getElementById("optradiob").checked = false;
            document.getElementById("optradioc").checked = false;
            document.getElementById("optradiod").checked = false;
            return false;
        }

        function submitForm()
        {
            document.getElementById("optradioa").value = '{{question_item.option_a}}';
            document.getElementById("optradiob").value = '{{question_item.option_b}}';
            document.getElementById("optradioc").value = '{{question_item.option_c}}';
            document.getElementById("optradiod").value = '{{question_item.option_d}}';

            total_time = '{{question_item.time_limit}}';
            time_taken_in_sec = (total_time * 60) - time_left_in_sec;
            time_taken_in_min = time_taken_in_sec / 60

            var options = document.getElementsByName('optradio');

            var answerTicked;
            for(var i = 0; i < options.length; i++)
            {
                if(options[i].checked)
                {
                    answerTicked = options[i].value;
                }
            }

            document.getElementById("answerTicked").value = answerTicked;
            document.getElementById("timeTaken").value = time_taken_in_min;

            document.getElementById("tokenForm").action = "/quiz";
            document.getElementById("tokenForm").submit();

        }

        window.onpopstate = function()
        {
            alert("Careful! If you go back, you will lose all your quiz responses.");
        };
        history.pushState({}, '');
    </script>
</head>

<body onload="palletColour()">

    <div class="container-fluid">
        <br><br>
        <div class="panel-group">
            <div class="panel panel-primary name1">

                <div class="panel-heading">
                    <b style="font-size: 18px; text-shadow: 2px 2px rgba(0, 0, 0, 0.8);">STUDENT INFORMATION</b>
                </div>

                <div class="panel-body">
                    <p name="userName" style="font-size: 16px;">
                        <b>Student Name:</b> {{id_info.name}}
                    </p>
                    <p name="emailId" style="font-size: 16px;">
                        <b>Student Email:</b> {{id_info.email}}
                    </p>
                    <p name="branch" style="font-size: 16px;">
                        <b>Subject:</b> {{question_item.topic}}
                    </p>
                    <p name="branch" style="font-size: 16px;">
                        <b>Question Type:</b> {{question_item.question_type}}
                    </p>
                    <p name="branch" style="font-size:16px;">
                        <b>Difficulty Level:</b> {{question_item.difficulty_level}}
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <form method="post">
                <br><br>

                <div class="quespart col-sm-9">
                    <div class="panel-group" style="margin-top: 5px;">
                        <div class="panel panel-primary">

                            <div class="panel-heading">
                                <b style="font-size: 18px; text-shadow: 2px 2px rgba(0, 0, 0, 0.8);">
                                    Question {{question_no}}.
                                </b>
                            </div>

                            <div class="panel-body">
                                <p style="margin-top: 10px; font-size: 18px; padding: 7px">
                                    {{question_item.question}}
                                </p>

                                <div class="radio">
                                    <label><p style="font-size: 15px">
                                        &nbsp;&nbsp;
                                        <input type="radio" name="optradio" id="optradioa" required>
                                        {{question_item.option_a}}
                                    </p></label>
                                </div>

                                <div class="radio">
                                    <label><p style="font-size: 15px">
                                        &nbsp;&nbsp;
                                        <input type="radio" name="optradio" id="optradiob">
                                        {{question_item.option_b}}
                                    </p></label>
                                </div>

                                <div class="radio">
                                    <label><p style="font-size: 15px">
                                        &nbsp;&nbsp;
                                        <input type="radio" name="optradio" id="optradioc">
                                        {{question_item.option_c}}
                                    </p></label>
                                </div>

                                <div class="radio">
                                    <label><p style="font-size: 15px">
                                        &nbsp;&nbsp;
                                        <input type="radio" name="optradio" id="optradiod">
                                        {{question_item.option_d}}
                                    </p></label>
                                </div>

                                <button type="reset" class="btn btn-info"
                                                style="margin-top: 170px; text-shadow: 2px 2px rgba(0, 0, 0, 0.8);"
                                                onclick="return clearResponse()">
                                    Clear Response
                                </button>

                                <form method="post" name="tokenForm">
                                    <input type="hidden" id="idToken" name="idToken" value="{{id_token}}">
                                    <input type="hidden" id="topic" name="topic" value="{{question_item.topic}}">
                                    <input type="hidden" id="answerTicked" name="answerTicked">
                                    <input type="hidden" id="timeTaken" name="timeTaken">

                                    <input type="hidden" id="question_no" name="question_no" value="{{question_no}}">
                                    <input type="hidden" id="difficulty_level" name="difficulty_level" value="{{difficulty_level}}">

                                    <input type="hidden" id="correct_ans" name="correct_ans" value="{{correct_ans}}">
                                    <input type="hidden" id="current_question_items" name="current_question_items" value="{{current_question_items}}">

                                    <input type="hidden" id="main_table_name" name="main_table_name" value="{{main_table_name}}">
                                </form>

                                <a href="javascript:;" onclick="submitForm()">
                                    <button class="btn btn-default"
                                                style="margin-top: 170px;
                                                    background-color:rgba(204,0,0,0.8);
                                                    color:#FFF; float:right;
                                                    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);">
                                        Save & Next
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="timer col-sm-3">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <img src="{{id_info.picture}}" class="userim img-responsive">
                        </div>

                        <div class="col-sm-6">
                            <p style="margin-top: 30px;"><b>TIME LEFT:</b></p>
                            <b><p id="timer"></p></b>

                            <script>
                                var timeoutHandle;
                                var time_on_timer = "";
                                var time_left_in_sec = 0;

                                function countdown(minutes)
                                {
                                    var seconds = 60;
                                    var mins = minutes
                                    function tick()
                                    {
                                        var counter = document.getElementById("timer");
                                        var current_minutes = mins - 1
                                        seconds--;
                                        time_on_timer = current_minutes.toString() + ":"
                                                    + (seconds < 10 ? "0" : "")
                                                    + String(seconds);

                                        time_left_in_sec = (current_minutes * 60) + seconds;
                                        counter.innerHTML = time_on_timer;

                                        if(seconds > 0)
                                        {
                                            timeoutHandle = setTimeout(tick, 1000);
                                        }
                                        else
                                        {
                                            if(time_left_in_sec == 0)
                                            {
                                                alert("Time over! This test is cancelled")
                                                window.location.href = "{{url_for('get_started')}}"
                                            }
                                            if(mins > 1)
                                            {
                                                setTimeout
                                                (
                                                    function()
                                                    {
                                                        countdown(mins - 1);
                                                    },
                                                    1000
                                                );
                                            }
                                        }
                                    }
                                    tick();
                                }

                                countdown('{{question_item.time_limit}}');
                                </script>
                        </div>
                    </div>


                    <div class="col-sm-12" style="margin-top: 5px;">
                        <br>
                        <p><b><center>Question Pallet</center></b></p>
                        <div class="table-responsive" style="overflow: hidden;">
                            <table class="table table-condensed no-border"
                                    style="margin-left: 15px; margin-top: 4px; margin-bottom: 0px;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <button class="btn btn-basic btn-sm" id="1">1</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-basic btn-sm" id="2">2</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-basic btn-sm" id="3">3</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-basic btn-sm" id="4">4</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-basic btn-sm" id="5">5</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-basic btn-sm" id="6">6</button>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td>
                                            <button class="btn btn-basic btn-sm" id="7">7</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-basic btn-sm" id="8">8</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-basic btn-sm" id="9">9</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-basic btn-sm" id="10">10</button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-12" style="margin-left: 15px; margin-top: 1px;"><hr><br>
                        <p>
                            <button class="btn btn-success" ></button>
                            &nbsp;You have answered the question.
                        </p><br>

                        <p>
                            <button class="btn btn-current" ></button>
                            &nbsp;You are currently attempting the question.
                        </p><br>

                        <p>
                            <button class="btn btn-basic"></button>
                            &nbsp;You have <b> not </b>answered the question.
                        </p>
                    </div><br>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
