<!DOCTYPE html>
<html>
<head>
    <title>Quiz Rules</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="./static/css/quiz_rules_page_style.css"/>

    <script>
        $(
            function()
            {
                $("#chkbutton").click
                (
                    function()
                    {
                        if($(this).is(":checked"))
                        {
                            $("#dpbutton").show();
                        }
                        else
                        {
                            $("#dpbutton").hide();
                        }
                    }
                );
            }
        );

        function submitForm()
        {
            //document.getElementById("idToken").value = '{{id_token}}';
            //document.getElementById("topic").value = '{{topic}}'

            document.getElementById("tokenForm").action = "/quiz";
            document.getElementById("tokenForm").submit();
        }
        function addTopicRule()
        {
            var firstline;
            if('{{topic}}' == "Miscellaneous")
            {
                firstline = 'This quiz is for demo purposes only. Practice well.'
            }
            else
            {
                firstline = 'This is the Main Quiz. Gear up and score well!'
            }
            document.getElementById("firstline").innerHTML = firstline;
        }
    </script>
</head>


<body onload="addTopicRule()">
    <div class="container-fluid" style="width: 100%;">
        <div class="panel-group">
            <br>
            <div class="panel panel-primary name1">
                <div class="panel-heading">
                    <b><center style="font-size: 20px;">
                        IMPORTANT INSTRUCTIONS
                    </center></b>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="container-fluid" style="width: 95%;">
        <div class="row">
            <div class="rule"><br>
                <ol type="1">
                    <li><p style="font-size: 15px;">
                        This is an <b>adaptive test</b> i.e. the difficulty
                        of each question is based on the person's ability
                        to give the correct answers.
                    </p></li>
                    <li><p style="font-size: 15px;" id="firstline">
                    </p></li>
                    <li><p style="font-size: 15px;">
                        There are a total of <b>10 questions</b>, with <b>no</b>
                        negative marking.
                    </p></li>
                    <li><p style="font-size: 15px;">
                        There are <b>9 multiple choice type questions (MCQs)</b>
                        with 4 alternative answers.
                    </p></li>
                    <li><p style="font-size: 15px;">
                        The score of each MCQ question is dependent on the difficulty level:<br>
                        <b>Easy: </b>2 marks<br>
                        <b>Medium: </b>3 marks<br>
                        <b>Hard: </b>5 marks<br>
                    </p></li>
                     <li><p style="font-size: 15px;">
                        The time duration of <b>Easy</b>, <b>Medium</b> and
                        <b>Hard</b> MCQ questions are <b>2</b>, <b>3</b> and
                        <b>5 minutes</b> respectively.<br>
                    </p></li>
                    <li><p style="font-size: 15px;">
                        The last question is a <b> subjective type</b> question
                        which has to be answered within <b>50 words</b>
                        (Time Duration: <b>20 minutes</b>).
                    </p></li>

                    <li><p style="font-size: 15px;">
                        The subjective section will be scored on its accuracy
                        (out of <b>10 marks</b>).
                    </p></li>
                    <li><p style="font-size: 15px;">
                        To save your answer and move on to the next question,
                        click on <b>Save & Next</b> button.
                    </p></li>
                    <li><p style="font-size: 15px;">
                        To deselect your answer, click on the <b>Clear Response</b> button.
                    </p></li>
                    <li>
                        <p style="font-size: 15px;">
                        The question palette is displayed on the right side
                        of the screen which shows the status of each question:
                        </p><br>

                        <p style="font-size: 15px;">
                            <button class="btn btn-success" ></button>
                            &nbsp;You have answered the question.
                        </p>

                        <p style="font-size: 15px;">
                            <button class="btn btn-current" ></button>
                            &nbsp;You are currently attempting the question.
                        </p>

                        <p style="font-size: 15px;">
                            <button class="btn btn-basic"></button>
                            &nbsp;You have <b> not </b>answered the question.
                        </p>
                    </li><br>

                    <li><p style="font-size: 15px;">
                        You cannot go back once the test is started.
                        If you do, all your responses would be lost.
                    </p></li>
                    <li><p style="font-size: 15px;">
                        You will be able to view your total score once the test is over.
                    </p></li><br>
                </ol>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12" style="color: black; margin-top: 10px;">
                <center><br>
                    <p style="font-size: 15px;">
                        <input id="chkbutton" type="checkbox" value="agree">
                        &nbsp;I have read and understood the instructions.
                    </p>
                </center>
            </div>
        </div>
    </div>

    <div id="dpbutton" style="display: none">
        <br>
        <form action="#" method="post" name="tokenForm" id="tokenForm">
            <input type="hidden" id="idToken" name="idToken" value="{{id_token}}">
            <input type="hidden" id="topic" name="topic" value="{{topic}}">
        </form>

        <center>
            <a href="javascript:;" onclick="submitForm()">
            <button style="font-size: 18px; color:white;" class="btn btn-primary">
                <b>Start Test</b>
            </button>
            </a>
        </center>
    </div>
    <br>
</body>
</html>
