#result table
{
    font-family: "Lato", sans-serif;
    border-collapse: collapse;
    width: 70%;
    table-layout: fixed;
}

#result td, th
{
    border: 1px solid #ddd;
    padding: 8px;
    padding: 15px;
    text-align: center;
    word-wrap: break-word;
}

#result tr:nth-child(even)
{
    background-color: white;
}
#result tr:nth-child(odd)
{
    background-color: white;
}

#result tr:hover
{
    background-color: #ddd;
}

#result th
{
    padding: 15px;
    text-align: center;
    background-color: #000033;
    color: white;
}

.congrats
{
    width: 150px;
    height: auto;
}

.collapsible
{
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.active, .collapsible:hover
{
    background-color: #555;
    width: 90%;
}

.collapsible:after
{
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after
{
    content: "\2212";
}

.content
{
    width: 90%;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #E0E0E0;
}


.button
{
    background-color: #337ab7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    opacity: 1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.button:hover
{
    opacity: 0.6;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}
